#dv-book-details #image-book-cover {
    width: 100%;
}

#dv-book-details #book-title {
    color: #2d2d2d;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 13px;
}

#dv-book-details #book-caption {
    font-size: 1.8rem;
    line-height: 35px;
}

#dv-book-details #dv-cover-links,
#dv-book-details #dv-buy-links {
    border-bottom: 1px solid #e6e5e5;
    border-top: 1px solid #e6e5e5;
    padding: 20px 0px;
}

#dv-book-details #dv-cover-links a {
    background: #00bef4;
    border-radius: 4px;
    color: #fff !important;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 6px;
    padding: 16px;
}

#dv-book-details #label-price {
    color: #000;
    font-size: 32px;
    font-weight: 600;
}

#dv-book-details #dv-buy-links label {
    display: block;
    font-size: 21px;
    margin-bottom: 13px;
}