#dv-books .dv-book-info {
    margin-bottom: 4.5rem;
}

#dv-books img {
    width: 60%;
}

#dv-books .dv-title label {
    width: 50%;
}

#dv-books .dv-title a {
    background: #fafafa;
    border-right: solid 5px #d6df24;
    color: #555 !important;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .5rem 1rem .5rem .5rem;
    text-transform: uppercase;
    width: 50%;
}